@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">
    Uniquely Christian Uniquely Classical
</h1>

<div class="text-center">
    <img width="300px" src="/images/shield.jpg" />
    <div class="row">
        <div class="col-md-4 mt-4">
            <div>
                <img width="300px" height="200" src="/images/holding-hands.jpg" />
            </div>
            <br>
            <a class="btn btn-dark" href="/">
                SCHOOL PROFILE
            </a>
            <div>
                “Trinity was founded to give families an opportunity to have their children taught following a classical model from a biblical worldview.”
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div>
                <img width="300px" src="/images/teacher.jpg" />
            </div>
            <br>
            <a class="btn btn-dark" href="/">
                INQUIRE
            </a>
            <div>
                Schedule a visit or reach out with any questions.
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div>
                <img width="300px" src="/images/girl.jpg" />
            </div>
            <br>
            <a class="btn btn-dark" href="/">
                APPLY
            </a>
            <div>
                Apply online to enroll your child.
            </div>
        </div>
    </div>
</div>
<br>
<h3>
    OUR MISSION
</h3>
<br>
<div>
    We exist to equip students to be lifelong learners while inspiring them to glorify God and proclaim truth.
</div>
<br>
<div>
    We desire to train young men and women who think clearly and listen carefully with discernment and understanding; who reason persuasively and articulate precisely; who are capable of evaluating their entire range of experience in the light of the Scriptures; and who do so with eagerness in joyful submission to God.
</div>
<br>
<div>
    We likewise desire to cultivate these same qualities in our staff. We desire them to be professional and diligent in their desire to clearly understand classical education and how it works in their classroom. We look to see them mature in Christ, growing in the knowledge of God.
</div>
<br>
<div>
    We desire to cultivate in our parents a sense of responsibility for the school; to see them well-informed about the goals of our classical and Christ-centered approach. We encourage them to grow with the school, being involved in and excited about the journey. We desire to help them to follow biblical principles in addressing concerns, to be inclined to hearing both sides of a story before rendering a verdict, and to embrace the Scripture’s injunctions to encourage and stir up one another to love and good works.
</div>
<br>
<div>
    Finally, in our relationship with our community, we desire to be above reproach in our business dealings and supportive of the local business community. We further seek to exemplify the unity of the body of Christ, to develop greater fellowship and understanding with the churches, and to bring honor to our Lord in all our endeavors.
</div>
<div class="row">
    <div class="col-md-6 mt-4">
        <h4>
            Contact Us
        </h4>
        <ul>
            <li>
                <a href="mailto:info@tcanorwalk.org">info@tcanorwalk.org</a>
            </li>
            <li>
                <a href="tel:419-668-2011">419-668-2011</a>
            </li>
        </ul>
        <div>
            <a href="tel:419-668-2011">More Ways to Get in Touch</a>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <h4>
            Address
        </h4>
        <div>
            250b Benedict Avenue
        </div>
        <div>
            Norwalk, OH 44857
        </div>
        <br>
        <div>
            Direction and Maps
        </div>
        <div>
