@page
@{
}

    <div class="container">
        <br><br>
    <h1 >
        <div class="mx-4">
            About TCA
        </div>
    </h1>
    <br><br>
    <div style="background-color: #008001" class="p-4 rounded text-white border border-dark">
        <br><br>
        <h2>
            OUR ORIGINS
        </h2>
        <br>
        <div>
            In 2003 a small group of local families felt a need for their children and other students from this area to be offered a Christian education.  Together, they worked toward their vision, leasing space from Calvary Baptist Church, in Norwalk. In the fall of that year Trinity Christian Academy opened its doors with nine students and three teachers.  One of those founders, Todd Olsen, said of the school’s beginning, “Trinity was founded to give families an opportunity to have their children taught following a classical model from a biblical worldview.”
        </div>
        <br>
        <div>
            Out of those nine students, our school has grown to include more than 50 K-8th grade students and eight teachers. The foundations of each subject are taught during the early elementary grades followed by an introduction to critique and analysis of those subjects as students grow into their upper elementary and middle school years. This approach creates students who are eager to learn as they develop strong oral and written communication skills, and gives them the ability to be independent thinkers.
        </div>
        <br>
        <div>
            We continue to focus on a truly classical approach in grades K-6 while incorporating additional subjects for our 7th and 8th graders. This allows for a smooth transition into their future school career. Students who have moved past TCA into local high schools and on to college enjoy success because of the strong foundation they received at Trinity. We’ve celebrated many of our students earning top honors in both oral and written composition contests as well as their achievements as valuable team members in sports, dramas, and musical performances.
        </div>
        <br>
        <div>
            Beyond classroom instruction, we enjoy monthly chapel services led by area pastors who come to teach and challenge our school. Students participate in an annual Poetry Recital and Art Show. They are active in community service projects and help with our annual auction and 5K fundraisers.
        </div>
        <br>
        <div>
            At Trinity, you’ll find a strong sense of community forging lasting friendships and a lifelong love of learning. Our teachers work hard to establish a partnership with our families, creating an environment rich in relationship between student, teacher, and family.  It seems our founder’s vision has succeeded.  A current parent expressed her thoughts on the value of a Trinity education, “My older children are excelling because of TCA.  While there, they were challenged academically and in their faith.  I’m grateful for this school which has forged in them a love of learning and exploring ideas developed through a foundation of truth.”
        </div>
        <div class="row">
            <div class="col-md-8 mt-4">
                <div>
                    GET IN TOUCH
                </div>
                <br>
                <div>
                    Diane is always available for side collaborations and talks worldwide. If you want to chat about design, books, wine, or anything else, don’t hesitate in reaching out.
                </div>
                <br>
                <div class="d-flex">
                    <div style="width: 36px; height: 36px; border-radius: 50%;" class="bg-dark mx-2">
                        <i class="bi bi-twitter px-2 pt-4"></i>
                    </div>
                    <div style="width: 36px; height: 36px; border-radius: 50%;" class="bg-dark mx-2">
                        <i class="bi bi-instagram px-2"></i>
                    </div>
                    <div style="width: 36px; height: 36px; border-radius: 50%;" class="bg-dark">
                    <i class="bi bi-linkedin px-2"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div>
                    WRITING
                </div>
                <br>
                <div>
                    Lessons from remote interviewing
                </div>
                <div>
                    April 2020
                </div>
                <br>
                <div>
                    What design mentees need
                </div>
                <div>
                    December 2019
                </div>
                <br>
                <div>
                    How to foster collaboration
                </div>
                <div>
                    November 2019
                </div>
            </div>
        </div>
    </div>
    </div>
</div>